# dependencies
node_modules
**/node_modules

# next.js
/.next/
**/.next/
out/
**/out/

# production
build
**/build

# misc
.DS_Store
*.pem
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# lockfiles in nested workspaces
apps/**/pnpm-lock.yaml
